.body-container{
  padding:30px;
}

.custom-btn{
  background-color: lightgrey;
  width: 80px;
  padding: 10px;
  border: none;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

.add-btn{
  background: #7ab97a;
  color: #fff;
}